beautifulsoup4
brotli
cairocffi
CairoSVG
cffi
cssselect2
defusedxml
fonttools
greenlet
html2text
lxml
markitdown
pillow
playwright
pycparser
pydyf
pyee
pyphen
python-docx
python-pptx
six
soupsieve
tinycss2
tinyhtml5
typing_extensions
weasyprint
webencodings
zopfli
